

 :root {
    --bg-color: #C6CDBE;
    --text-color: #000000;
    --table-border-color: #C6CDBE;
    --header-bg-color: #557b83;
    --nav-text-color: #ffffff;
    --box-text-color: #465239;
    --header-text-color: #465239;
 }

/* Basic Page Styles */

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--header-bg-color);
}


/* Navigation Bar */

nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    text-align: right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
}

nav ul li {
    justify-content: right;
    display: inline-flex;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: x-large;
    color: #bbb193;
    font-weight: bold;
}


nav ul li a:hover {
    color: #557b83;
}
/* Header content */



/* About content */

.about_header {
    background-color: #ffffff;
    color: #557b83;
    padding-top: 20px;
    text-align: center;
}

.About {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ffffff;
    padding-top: 30px;
    color: #bbb193;
    text-align: center;
    padding-bottom: 50px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    color: #557b83;
    text-align: justify;
    padding-left: 100px;    
}

img {
    max-height: 800px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);  
    margin-left: 200px; 
}

/* Project content */


.project_header {

    color: #ffffff;
    padding-top: 20px;
    text-align: center;
      
}

.projects {  
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    
}

.project_box {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    padding-bottom: 20px;
    margin: 20px;
    color: #bbb193;
    flex: 1 1 600px;
    align-items: center;
    text-align: center;
   padding-left: 20px;
   padding-right: 20px;
}

.project_image [id=who_playing] {

    max-height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);  
    margin-left: 5px;
   
}

.project_image [id=gig_finder] {

    max-height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);  
    margin-left: 5px;
   
}


.project_image [id=toddler_group] {

    max-height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);  
    margin-left: 5px;
   
}



.project_box:hover {
    box-shadow: 0 20px 30px #000000;
    background-color: #f6f0ed;
}

/* Header Section */

header {
    text-align: center; 
    color: var(--nav-text-color);    
    padding: 40px ;
}

/*Contact

display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    justify-content: space-evenly;*/



.contact_header {
    width: 100%;
    background-color: #bbb193;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
      
}

.Contact {
    display: flex;
    flex-flow: inherit;
    justify-content: center;
    text-align: left;
    background-color: #bbb193;
    width: 100%;
    height: 50%;
    padding-top: 30px   
}
    


input[type=text] {
    
    width: 600px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 35px;
}

input[type=Email], select {
    width: 600px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 35px;
}

input[type=text]:focus {
    border: 3px solid #555;
  }

input[type=Tel], select {
    width: 600px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 35px;
}

input[type=message], select {
    width: 600px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #557b83;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    
}



.radio_buttons ul{
    position: relative;
    left: 40%;
    text-align: justify;
}

input[type=button]:hover {
    background-color: #c2948a;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*  Content /*/


footer {
    display:flex;
    justify-content: space-between;
    text-align: justify;
    font-size: smaller;
    background-color: #ffffff;
    padding-top: 30px;
    color: #bbb193;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;

    
}



/*
.company_info {

    text-align: left;
}

*/












