

 :root {
    --bg-color: #C6CDBE;
    --text-color: #000000;
    --table-border-color: #C6CDBE;
    --header-bg-color: #557b83;
    --nav-text-color: #ffffff;
    --box-text-color: #465239;
    --header-text-color: #465239;

 }



/* Basic Page Styles */

body {
   
     
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--header-bg-color);
}

/* Navigation Bar */



nav ul {
   
    list-style-type: none;
    margin: 0;
    padding: 40px;
}

nav ul li {
    justify-content: right;
    display: inline-flex;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: x-large;
    color: var(--nav-text-color);
    font-weight: bold;
}


/* Header content */

.box-model-demo {
    width: 80%;
    padding: 30px;
    border: 30px var(--nav-text-color);
    margin: 20px auto;
    border-radius: 20px;
    background-color: var(--table-border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Header Section */

header {

  
        
    text-align: center; 
    color: var(--nav-text-color);    
    padding: 40px ;
}

/*Main Body*/


/* Main Content */


.content {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: var(--table-border-color);    
}

img {
    max-height: 
    width: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    
    
}



a.option {
    color:var(--header-bg-color);
    text-decoration: none;
    width: 50%;
}

Footer {
    text-align: center; 
    background-color: var(--bg-color);
    color: var(--header-text-color);    
    padding: auto;
}
